# Métodos de compilación
target/
build/
out/
bin/

# IDEs
.idea/
.vscode/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.springBeans
.sts4-cache/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.temp